$firstFont: 'Montserrat', sans-serif;
$secFont:'Playfair Display', serif;
$thirdFont:'Lora', serif;

$primaryColor:#1B1B1B;
$secColor:#1b2024;
$thirdColor:#737373;
$fourthColor:#F3F3F3;
$fifthColor:#F4F4F6;
$sixthColor:#000000;
$paragraphColor:#6D6A6A;
$iconColor:#f34f3f;
$seventhColor:#2b2b2b;
$mainColor:#f8f8f8;