$firstColor:white;
$secOlor:rgb(41, 39, 39);
$thirdColor:red;
$fourthColor:rgba(0, 0, 0, 0.608) ;
$fifthColor:rgba(66, 63, 63, 0.255);
$sixthColor:black;
$seventhColor:rgba(255, 255, 255, 0.2);
$eigthColor:rgba(255, 255, 255, 1);
$ninethColor:#0071eb;