$primaryFont: 'Cardo', serif;
$secondFont: 'Plus Jakarta Sans', sans-serif;  

// COLOR
$backColor:#123E56;
$firstColor: #38343D;
$secondColor:#DE8556;
$thirdColor:#FFFFFF;
$fourthColor:#818181;
$fifthColor:#F6F6F6; 
$sixthColor:#F9F2EE;